<h1>Listagem de Clientes</h1>

<table>
  <tr>
    <th><%= link_to 'Nome', action:'index', campo: 'nome', order: @order %></th>
    <th><%= link_to 'Idade', action:'index', campo: 'idade', order: @order %></th>
   </tr>

  <%@clientes.each do |cliente|%>
    <tr> 
      <td><%=cliente.nome%></td>
      <td><%=cliente.idade%></td>
      <td><%= link_to 'Mostrar', action:'show', id: cliente %></td>
      <td><%= link_to 'Editar', action: 'edit', id: cliente %></td>
      <td><%= link_to 'Deletar', cliente, method: :delete %></td>
    <tr>
  <%end%>
  </table>
 <br/>
  
 <%= link_to 'Novo', action: 'new' %>
