
 <% if @restaurante.errors.any? %>
    <ul>
      <% @restaurante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %> 

<%= form_for @restaurante do |f| %>
  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>
  <div>
    <%= f.label :endereco %>
    <%= f.text_field :endereco %>
  </div>
  <div>
    <%= f.label :especialidade %>
    <%= f.text_field :especialidade %>
  </div>
  
<!--   <%= f.fields_for :qualificacoes do |b| %>
  Qualificacao
   <div> 
    <%= b.label :nota %> 
    <%= b.text_field :nota%>
    <%= b.label :valor_gasto %> 
    <%= b.text_field :valor_gasto%>
   </div>
  <% end %> -->

  <%= f.submit %>
<% end %>
