<h1>Listagem de Restaurantes</h1>

<table>
  <tr>
    <th><%= link_to 'Nome', action:'index', campo: 'nome', order: @order %></th>
    <th><%= link_to 'Endereco', action:'index', campo: 'endereco', order: @order %></th>
    <th><%= link_to 'Especialidade', action:'index', campo: 'especialidade', order: @order %></th>
  </tr>

  <%@restaurantes.each do |restaurante|%>
    <tr> 
      <td><%=restaurante.nome%></td>
      <td><%=restaurante.endereco%></td>
      <td><%=restaurante.especialidade%></td>
      <td><%= link_to 'Mostrar', action:'show', id: restaurante %></td>
      <td><%= link_to 'Editar', action: 'edit', id: restaurante %></td>
      <td><%= link_to 'Deletar', restaurante, method: :delete %></td>
    <tr>
  <%end%>
  </table>
 <br/>
  
 <%= link_to 'Novo', action: 'new' %>
