
 <% if @prato.errors.any? %>
    <ul>
      <% @prato.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %> 

<%= form_for @prato do |f| %>
  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  Selecione o restaurante: <%= collection_select :restaurante, :id , Restaurante.all, :id, :nome, multiple: true, :prompt => "Please Select" %>
  <br/>

  Selecione a receita: <%= collection_select :receita, :id , Receita.all, :id, :conteudo, multiple: true, :prompt => "Please Select" %>
  <br/>

  <%= f.submit %>
<% end %>







