<h1>Listagem de Pratos</h1>

<table>
  <tr>
    <th><%= link_to 'Nome', action:'index', campo: 'nome', order: @order %></th>
   </tr>

  <%@pratos.each do |prato|%>
    <tr> 
      <td><%=prato.nome%></td>
      <td><%= link_to 'Mostrar', action:'show', id: prato %></td>
      <td><%= link_to 'Editar', action: 'edit', id: prato %></td>
      <td><%= link_to 'Deletar', prato, method: :delete %></td>
    <tr>
  <%end%>
  </table>
 <br/>
  
 <%= link_to 'Novo', action: 'new' %>
