 <% if @qualificacao.errors.any? %>
    <ul>
      <% @qualificacao.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %> 

<%= form_for @qualificacao do |f| %>
  <div>
    <%= f.label :nota %>
    <%= f.text_field :nota %>
  </div>
  <div>
    <%= f.label :valor %>
    <%= f.text_field :valor_gasto %>
  </div>
  <div>
  Selecione o restaurante: 
  <%= f.collection_select(:restaurante_id, Restaurante.all, :id, :nome) %>
  </div>
  <div>
  Selecione o cliente: 
  <%= f.collection_select(:cliente_id, Cliente.all, :id, :nome) %>
  </div>
  <%= f.submit %>
<% end %>
