<h1>Listagem de Qualificacoes</h1>

<table>

  <tr>

    <th><%= link_to 'Nota', action:'index', campo: 'nota', order: @order %></th>
    <th><%= link_to 'Valor', action:'index', campo: 'valor', order: @order %></th>
    <th><%= link_to 'Restaurante', action:'index', campo: 'restaurante_id', order: @order %></th>
    <th><%= link_to 'Cliente', action:'index', campo: 'cliente_id', order: @order %></th>

  </tr>

  <%@qualificacoes.each do |qualificacao|%>

    <tr> 

      <td><%=qualificacao.nota%></td>
      <td><%=qualificacao.valor_gasto%></td>
      <td><%=restaurante qualificacao.restaurante_id%></td>
      <td><%=cliente qualificacao.cliente_id%></td>

      <td><%= link_to 'Mostrar', action:'show', id: qualificacao %></td>
      <td><%= link_to 'Editar', action: 'edit', id: qualificacao %></td>
      <td><%= link_to 'Deletar', qualificacao, method: :delete %></td>

    <tr>

  <%end%>

  </table>

 <br/>
  
 <%= link_to 'Novo', action: 'new' %>
