<h1>Listagem de Receitas</h1>
<table>
  <tr>
    <th><%= link_to 'Conteudo', action:'index', campo: 'conteudo', order: @order %></th>
    <th><%= link_to 'Prato', action:'index', campo: 'prato', order: @order %></th>
  </th>

  <%@receitas.each do |receita|%>
    <tr> 
      <td><%=receita.conteudo%></td>
      <td><%=receita.prato.nome%></td>
      <td><%= link_to 'Mostrar', action:'show', id: receita %></td>
      <td><%= link_to 'Editar', action: 'edit', id: receita %></td>
    <tr>
  <%end%>
  </table>
 <br/>
  
 <%#= link_to 'Novo', action: 'new' %>
