<!DOCTYPE html>

<html>

<head>
  <title>VotaPrato</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<div>
  <a href="restaurantes">Restaurantes</a>
  <a href="clientes">Clientes</a>
  <a href="pratos">Pratos</a>
  <a href="qualificacoes">Qualificacoes</a>
  <a href="receitas">Receita</a>
</div>

<%= yield %>

</body>

</html>
